* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.header {
    height: 60px;
    padding: 0 20px;
    background: #222;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    font-size: 24px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.header-right a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.main {
    height: calc(100vh - 60px);
}

.game-layout {
    display: flex;
    height: 100%;
}

.game-board {
    flex: 1;
    background-color: gray;
}

.game-sidebar {
    width: 300px;
    background: #f3f3f3;
    padding: 10px;
}

.auth-box {
    width: 300px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.auth-form {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.error {
    color: red;
}

.link-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
}

.alert-div {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    color: white;
    text-align: center;
    z-index: 9999;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    display: none;
    transition: opacity 0.5s;
}