<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Online minesweeper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="header">
    <h1>💣 Online minesweeper</h1>
</div>

<div class="layout">

    <div class="board-container">
        <canvas id="board"></canvas>
    </div>

    <div class="sidebar">
        <h2>Statistics</h2>
        <div id="stats">
            <p>Opened: <span id="openedCount">0</span></p>
        </div>
    </div>

</div>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>
